@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #bbbbbb;
}
  
li {
    float: left;
}
  
li a {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer ;
}
  
li a:hover{
    background-color: rgb(152, 152, 152);
}

