@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #cff802;
}
  
li {
    float: left;
}
  
li a {
    font-family: 'Lexend Deca', sans-serif;
    display: block;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    background-color: rgb(71, 126, 9);
}
