@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #7070708c;
}

li {
    float: left;
}

li a {
    font-family: 'Tomorrow', sans-serif;
    font-size: 20px;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer ;
}

.logo{
    width: 200px;       
    margin-left: 200px;
    margin-top: 5px;
}

.formu {
    color: black;
}
