*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: -moz-linear-gradient(https://media.istockphoto.com/id/1320888498/photo/modern-grey-paint-limestone-texture-background-in-white-light-seam-home-wall-paper-back-flat.jpg?b=1&s=170667a&w=0&k=20&c=fD46qkUeQ-tRI8cC2Cos7UosUUzKWsTK3PAY69nTZ9k=);
}