@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tomorrow:wght@300;500&display=swap');


.contador{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
}

.sumatoria{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 300px;
  border-radius: 20px;
  background-color:  rgb(114, 114, 114);
  color: white;

}

.boton1{
  font-family: 'Tomorrow', sans-serif;
  border: none;
  background-color:  rgb(114, 114, 114);
  color: white;
  padding-bottom: 10px;
  margin-left: 10px;
  font-size: 25px;
}

.boton2{
  font-family: 'Tomorrow', sans-serif;
  border: none;
  background-color:  rgb(114, 114, 114);
  color: white;
  padding-bottom: 8px;
  font-size: 25px;
}

.agregar{
  font-family: 'Tomorrow', sans-serif;
  border: none;
  background-color:  rgb(114, 114, 114);
  color: white;
  padding-bottom: 5px;
  margin: 15px;
}

.numero{
  font-family: 'Tomorrow', sans-serif;
  padding: 10px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
}

.botonGrande{
  font-family: 'Tomorrow', sans-serif;
  border: none;
  background-color:  rgb(114, 114, 114);
  color: red;
  padding-bottom: 5px;
  margin: 15px;
}