@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;500&display=swap');


.itemList{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    font-family: 'Tomorrow', sans-serif;
}